/* PAGE ANIMATIONS CSS3 */

article {
    padding: 16px;
}

#boiteAnimations {
    padding: 16px;
    width:95%;
    margin: 0 auto;
    text-align: justify;
    box-shadow:  0px 0px 50px grey;
    margin-bottom: 50px;
    margin-top: 30px;
}
#boiteAnimations h2 {
    font-family : 'Pacifico';
    font-size : 2.5em;
    text-align: center;
}
#boiteAnimations p {
    margin-top : 50px;
}
#pA {
    text-align: center;
}
#fDiv{
    width : 50%;
    display : inline-block;
}
#resultat {
    width : 49%;      
    display : inline-block;  
    background-color : #5F8287;
    text-align : center;
}

.cb{
    width : 32px;
    height : 32px;
    float : right;
}


/* ----------------------------- 
    = Création des animations
   ----------------------------- */

/* Effet slide in */
@keyframes slide-in {
    from { transform: translate3d(80%, 0, 0); }
    to   { transform: translate3d(-10%, 0, 0); }
}
@-webkit-keyframes slide-in {
    from { -webkit-transform: translate3d(80%, 0, 0); }
    to   { -webkit-transform: translate3d(-10%, 0, 0); }
}


/* Effet slide out */
@keyframes slide-out {
    from { transform: translate3d(-10%, 0, 0); }
    to   { transform: translate3d(80%, 0, 0); }
}
@-webkit-keyframes slide-out {
    from { -webkit-transform: translate3d(-10%, 0, 0); }
    to   { -webkit-transform: translate3d(80%, 0, 0); }
}


/* Effet fade-in */
@keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fade-in {
    from { -webkit-opacity: 0; }
    to   { -webkit-opacity: 1; }
}


/* Effet fade-out */
@keyframes fade-out {
    from { opacity: 1; }
    to   { opacity: 0; }
}
@-webkit-keyframes fade-out {
    from { opacity: 1; }
    to   { opacity: 0; }
}


/* Effet cover-in */
@keyframes cover-in {
    from { transform: translate3d(0, 100%, 0); }
    to   { transform: translate3d(0, 0, 0); }
}
@-webkit-keyframes cover-in {
    from { -webkit-transform: translate3d(0, 100%, 0); }
    to   { -webkit-transform: translate3d(0, 0, 0); }
}


/* Effet cover-out */
@keyframes cover-out {
    from { transform: translate3d(0, 0, 0); }
    to   { transform: translate3d(0, 100%, 0); }
}
@-webkit-keyframes cover-out {
    from { -webkit-transform: translate3d(0, 0, 0); }
    to   { -webkit-transform: translate3d(0, 100%, 0); }
}