/* PAGE TRAVAUX */ 
article {
	padding: 16px;
}

#boiteProjets {
	padding: 16px;
	width:95%;
	margin: 0 auto;
	text-align: justify;
	box-shadow:  0px 0px 50px grey;
	margin-bottom: 50px;
	margin-top: 30px;
}
#boiteProjets h2 {
	font-family : 'Pacifico';
	font-size : 2em;
	text-align: center;
}
#boiteProjets p {
	width : 70%;
	margin : 0 auto;
}

#projets {
	padding-top : 50px;
	text-align : center;
}

#boiteProjets > div > div {
	display : inline-block;
	border : 2px solid #5F8287;
	margin : 10px 30px 10px 30px;
}
